* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

a {
	text-decoration: none;
	color: rgba(225, 225, 225, 0.3);
}

ul {
	display: flex;
	gap: 10px;
	list-style: none;
	text-decoration: none;
}
.reel-header > div {
	display: flex;
	position: absolute;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/*Icon Styles*/
.bi-play-btn,
.bi-search {
	font-size: 25px;
	color: white;
	margin: 20px;
}

.bi-search {
		font-size: 20px;
	}

/* Sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: flex-end;
	gap: 35px;
	padding: 0 15px;
	position: absolute;
	right: 0;
	top: 40%;

	.bi-heart-fill,
	.bi-chat-dots-fill,
	.bi-bookmark-fill,
	.bi-share-fill {
		color: white;
		font-size: 30px;
		text-align: center;
	}

	span {
		display: block;
		text-align: center;
		font-size: 15px;
	}
	
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Boolean Logo*/
.boolean-profile {
	position: relative;
	display: inline-block;
 	} 
	
.boolean-profile img {
	/*position: relative;*/
	margin-right: -6px;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: solid white 1.5px;
}

.boolean-profile::after {
	content: '+';
	font-size: 30px;
	text-align: center;
	line-height: 16px;
	position: absolute;
	color: white;
	background: red;
	border-radius: 50%;
	bottom: -5px;
	right: 5px;
	height: 20px;
	width: 20px;
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	background-color: black;
}

.footer-icons {
	display: flex;
	justify-content: space-around;
	gap: 30px;
	text-align: center;
	font-size: 25px;
	padding: 18px;
	margin-left: 5px;

	span {
		display: block;
		text-align: center;
		font-size: 12px;
		font-style: normal;
		color: grey;
	}
}

.bi-house-fill {
	color: white;

	span {
		color: white;
	}
}

.bi-plus-square {
	color: white;
}
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 65px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
